@page
@model AulaRazorPages.Pages.IndexModel
@{
    var title = "My First APP";
}

<!DOCTYPE html>
    <html>
    <head>
        <title>@title</title>
    </head>
    <body>
        <h1>@title</h1>
    </body>
    </html>