@page "/movies"
@model AulaRazorPages.Pages.MoviesModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>My Movies</h1>

    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>
                <a href="/movie/@movie.Permalink">@movie.Name</a>
            </li>

        }
    </ul>
</body>
</html>