@page "/contact"
@model AulaRazorPages.Pages.Contact.ContactModel
@{
    ViewData["Title"] = "Contact Page";
}

<h1>@ViewData["Title"]</h1>

<form method="post" class="col-4">
    <div class="mb-3">
        <label asp-for="ContactForm!.Name" class="form-label">Name</label>
        <input asp-for="ContactForm!.Name" type="text" class="form-control" id="Name" />
        <span asp-validation-for="ContactForm!.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactForm!.Email" class="form-label">Email</label>
        <input asp-for="ContactForm!.Email" type="text" class="form-control" id="Email" />
        <span asp-validation-for="ContactForm!.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactForm!.Subject" class="form-label">Subject</label>
        <input asp-for="ContactForm!.Subject" type="text" class="form-control" id="Subject" />
        <span asp-validation-for="ContactForm!.Subject" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactForm!.Message" class="form-label">Message</label>
        <textarea asp-for="ContactForm!.Message" class="form-control" id="Message"></textarea>
        <span asp-validation-for="ContactForm!.Message" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>